*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.container{
    height: 200px;
    width: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #303030;
}
h2{
    text-transform: capitalize;
    color: #ffffff;
}
input{
    height: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 3px;
}
select,
.input-box{
    height:30px;
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
}
select{
    background-color: #FFA600;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxs{
    display: flex;
    gap: 10px;
}
button{
    width: 50%;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFFFE0;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-top: 20px;
}
#finalval{
    color: #fff;
}